@namespace Server.Shared.Integracion
@using MudBlazor
@inject NavigationManager Nav
<link href="styles/Integracion/modal-destinos.css" rel="stylesheet" />

<MudDialog Class="modal-destinos">
    <DialogContent>
        <!-- Botón de cerrar  -->
        <button class="cerrar-modal" @onclick="() => DialogInstance.Close()">
            &times;
        </button>
        <div class="modal-destinos-contenido">
            <MudText Typo="Typo.h5" Class="modal-destinos-title">SALIDAS DIARIAS DESDE TOMINA</MudText>

            <div class="modal-destinos-rutas">
                <div class="modal-destinos-item">
                    <span>📍 Sucre</span>
                    <span>10:00 – 18:00</span>
                </div>
                <div class="modal-destinos-item">
                    <span>📍 Villa Serrano</span>
                    <span>12:00 – 20:30</span>
                </div>
            </div>

            <div class="modal-destinos-especiales">
                <div class="modal-destinos-subtitulo">📅 <strong>Jueves y Domingo</strong></div>
                <div class="modal-destinos-item">
                    <span>📍 Mendoza</span>
                    <span>20:30</span>
                </div>
            </div>
        </div>
    </DialogContent>

    <DialogActions>
        <div class="modal-destinos-boton-container">
            <MudButton OnClick="@ComprarPasaje" Class="modal-destinos-comprar" Variant="Variant.Filled" Color="Color.Primary">
                PROXIMAMENTE
            </MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {
    [Parameter] public string Destino { get; set; }
    [CascadingParameter] MudDialogInstance DialogInstance { get; set; }

    void ComprarPasaje()
    {
        DialogInstance?.Close();
        Nav.NavigateTo("/Prox/Sucursal/Public");
    }
}
